Placeholder {
  layer: bg;
  background: gray;
  color: white;
  border: yellow;
  height: 1fr;
  max-width: 64;
  width: 1fr;
}

RichLog {
  layer: bg;
  height: 1fr;
  border: red;
  max-width: 64;
}

FooterCustom {
  layout: grid;
  grid-columns: auto;
  color: $footer-foreground;
  background: $footer-background;
  dock: bottom;
  height: 1;
  scrollbar-size: 0 0;
  &.-compact {
    grid-gutter: 1;
  }
  FooterKey.-command-palette {
    dock: right;
    padding-right: 1;
    border-left: vkey $foreground 20%;
  }

  &:ansi {
    background: ansi_default;
    .footer-key--key {
      background: ansi_default;
      color: ansi_magenta;
    }
    .footer-key--description {
      background: ansi_default;
      color: ansi_default;
    }
    FooterKey:hover {
      text-style: underline;
      background: ansi_default;
      color: ansi_default;
      .footer-key--key {
        background: ansi_default;
      }
    }
    FooterKey.-command-palette {
      background: ansi_default;
      border-left: vkey ansi_black;
    }
  }
}
