/* menu_screens.css */

/* --- THEME VARIABLES ------------------------------------------ */
/* Border Definitions */
$border-style-main: heavy;
$border-style-thick: thick;

$btn-border-type: $border-style-main;
$box-border-type: $border-style-main;
$dialog-border-type: $border-style-thick;

/* --- GLOBAL BUTTON DEFINITION --------------------------------- */

MenuScreenBase Button {
  margin: 1 0;
  /* background: $primary; */
  /* color: $text; */
  /* border-bottom: tall $primary-darken-2; */
  /* border-top: tall $primary-lighten-2; */
}

/* MenuScreenBase { */
/*   background: $secondary; */
/*   color: $background; */
/*   hatch: left $secondary-darken-1; */
/*   border-bottom: tall $primary-darken-2; */
/*   border-top: tall $primary-lighten-2; */
/* } */

MenuScreenBase Button:focus,
MenuScreenBase Button:hover {
  text-style: bold;
  hatch: left $primary-darken-2;
  tint: $background 40%;
}

/* --- SPECIFIC WIDGET RULES ------------------------------------ */
MenuScreenBase {
  align: center top;

  VerticalScroll {
    align: center top;
    height: auto;
  }

  Container {
    align: center top;
    height: auto;
  }

  ScreenTitle {
    background: $background;
    border: none;
    width: auto;
    color: $primary;
    content-align: center middle;
  }

  ScreenTitle.version {
    text-style: bold;
    width: auto;
    min-width: 32;
  }

  /* Layout Override */
  Button {
    width: auto;
    min-width: 32;
  }
}

ScreenTitle.lost {
  color: $error;
}

CreateNewMapScreen {
  align: center middle;

  #dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: auto;
    padding: 0 1;
    width: 60;
    height: 14;
    border: $dialog-border-type $secondary 80%;
    background: $background;
  }

  #question_name,
  #question_authors {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
    border: none;
    color: $text;
  }

  #map_name,
  #authors {
    column-span: 2;
    row-span: 1;
    height: 2fr;
    width: 2fr;
    content-align: center middle;
    border: none;
    color: $primary;
  }

  Button {
    width: 100%;
  }

  Input {
    width: 100%;
    background: $background;
    color: $text;
    border: $border-style-main $primary;
  }
}

EndScreen {
  GameDigits {
    width: 36;
  }
}

Troubleshooting ListStatic {
  align: center middle;
  content-align: center middle;
  height: auto;

  ScrollableContainer {
    align: center top;
    height: auto;
  }

  Static {
    overflow: auto;
    width: auto;
    border: none;
  }

  Static.left {
    background: $background;
    color: $accent;
    border: thick $panel;
    margin: 0 0;
    width: 16;
    align: left middle;
  }

  Static.right {
    margin: 0 0 0 1;
    color: $text;
    background: $background;
    border: thick $panel;
    width: 60;
    height: 100%;
    align: center middle;
    text-style: bold;
  }
}

Troubleshooting Markdown {
  margin: 0 0;
  padding: 0 1;
  width: 77;
  height: auto;
  border: double $secondary;
  content-align: center top;
  align: center top;
}

About {
  align: center top;

  .body {
    align: center top;

    Static {
      width: 66;
    }

    Button {
      width: 66;
    }

    Link {
      content-align: center top;
    }

    .wrapper {
      width: auto;
      border: double $secondary;
      padding: 0 1;
    }
  }
}

CheckInputSystemScreen {
  align: center middle;
  background: $background 50%;

  #dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
  }

  #question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
  }
}
